.cards{
    display: grid;
    grid-template-columns: 318px 318px 318px 318px;
    grid-gap: 1.5rem 0.8rem;
    margin-top: 5rem;
    margin-left: 2rem;
}
.card-body{
    background-color: rgba(230, 230, 230, 0.808);
}
.check-btn{
    text-decoration: none;
    background-color: rgb(3, 223, 149);
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    color: black;
    margin-bottom: 0.5rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .cards{
        display: grid;
        grid-template-columns: 300px;
    }
}